{% extends "base.html" %}

{% block page_header %}
        <div class="jumbotron jumbotron-fluid text-center">
            <h1 class="display-4">团队任务管理</h1>
            <br>
            <p class="lead">当前迭代：</p>
        </div>

{% endblock %}

{% block page_content %}
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="card-deck">
            {% for card in cards %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.type }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">{{ card.description }}</p>
                        <a href="#" class="card-link">{{ card.start_time }}</a>
                        <a href="#" class="card-link">{{ card.end_time }}</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}