{% extends "base.html" %}

{% block page_content %}
    {% for card in cards %}
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">{{ card.type }}</h5>
                   <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                   <p class="card-text">{{ card.description }}</p>
                   <a href="#" class="card-link">{{ card.start_time }}</a>
                   <a href="#" class="card-link">{{ card.end_time }}</a>
                </div>
                 <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
                  </div>
    {% endfor %}
{% endblock %}